/* ------------ youtube.com/CodeExplained ------------ */
body{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0);
    font-family: 'Titillium Web', sans-serif;
   
}

/* ------------ container ------------ */
.container{
    padding: 4%;
    width:87 vw ;
    margin:1%;
    top: 50%;
    left:50%;
    overflow: hidden;
    height: 96vh;
}

/* ------------ header ------------ */
.header{
    width: 90vw;
    height: 20vh;
    background-image: url('../img/giphy.webp');
    background-size: 100% 210%;
    filter: grayscale(40%);
    background-repeat: no-repeat;
    border-radius: 10%;
    position: relative;
    
}
.clear{
    width : 8.5vw;
    height: 8.gvh;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: #FFF;
    font-size: 190%;
    font-weight: 900;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ content ------------ */
.content{
    width:90vw;
    height: 67vh;
    background-color: transparent;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:90vw;
    height: 5vh;
    position: relative;
     border-bottom: 1px solid rgba(255, 254, 254, 0.2);
    list-style: none;
    padding: 0;
    margin: 1%;
}
.item i.co{
    position: relative;
    font-size: 130%;
    padding-left:1%;
    left:15px;
    top:32%;
   
    
}
.item i.co:hover{
    cursor: pointer;
    
}
.fa-circle-thin{
    color:white;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 120%;
    left:50px;
    color: white;
    top:22%;
    background-color:transparent;
    max-width:80%;
    
    
}
.lineThrough{
    text-decoration: line-through;
    color : rgb(141, 141, 141);
}
.item i.de{
    position: absolute;
    font-size: 140%;
    right:15px;
    top:10px;
    color : #ccc;
}
.item i.de:hover{
    color:#ff0000;
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 85vw;
    height:7.3vh;
    background-color: transparent;
    padding: 2%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px ;
    color: white;
}
.add-to-do i{
    position: absolute;
    font-size: 250%;
    color: #ffffff;
}

.add-to-do input{
    position: absolute;
    left: 15%;
    width: 88%;
    background-color: transparent;
    border: none;
    font-size: 120%;
    padding-left:2%;
    color: white;
    top: 22%;

}
.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #807f7f;
    font-family: 'Titillium Web', sans-serif;
    font-size: 90%;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #868686;
    font-family: 'Titillium Web', sans-serif;
    font-size: 90%;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #8d8c8c;
    font-family: 'Titillium Web', sans-serif;
    font-size: 90%;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #888787;
    font-family: 'Titillium Web', sans-serif;
    font-size: 90%;
}




























